<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./globalStyles.css" media="screen">
    <title>CAPSTONE M6</title>
</head>
<body>
    <main class="mainContainer">
        @include('partials/headerBar')
        @include('partials/introSection')
        @include('partials/auctionList')
        @include('partials/footer')
    </main>
</body>
</html>