<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./auctionList.css">
</head>
<body>
    <section class="auctionListContainer">
        <h3 class="listTitle">Leilao</h3>
        <ul class="listContainer">
            <li class="card">
                <div class="auctionDetails">
                    
                    
                </div>
                <button class="auctionAccessButton"><span> página do leilão </span> <img src="./arrow-right-long-solid.svg" alt="" class="arrowIcon"></i></button>
            </li>
        </ul>
    </section>
</body>
</html>