    <section class="menuContainer" id="hamburguerContainer">
        <div class="firstBar bar"></div>
        <div class="secondBar bar"></div>
        <div class="thirdBar bar"></div>
    </section>
   