
    <section class="introContainer">
        <p class="introSlogan">Velocidade e experiência em um lugar feito para você</p>
        <span class="introSpan">Um ambiente feito para você explorar o seu melhor</span>
        <nav class="introNav"> 
            <button class="boldWhiteButton">Leilao</button>
            <button class="boldWhiteButton">Carros</button>
            <button class="boldWhiteButton">Motos</button>
        </nav>
    </section>
