
    <section class="introContainer">
        <p class="introSlogan">Velocidade e experiência em um lugar feito para você</p>
        <span class="introSpan">Um ambiente feito para você explorar o seu melhor</span>
        <nav class="introNav"> 
            <span class="boldWhiteButton">Leilao</span>
            <span class="boldWhiteButton">Carros</span>
            <span class="boldWhiteButton">Motos</span>
        </nav>
    </section>
