<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./introSection.css">
</head>
<body>
    <section class="introContainer">
        <p class="introSlogan">Velocidade e experiência em um lugar feito para você</p>
        <span class="introSpan">Um ambiente feito para você explorar o seu melhor</span>
        <nav class="introNav"> 
            <button class="boldWhiteButton">Leilao</button>
            <button class="boldWhiteButton">Carros</button>
            <button class="boldWhiteButton">Motos</button>
        </nav>
    </section>
</body>
</html>