.menuContainer {
  width: 27px;
  height: 1.5rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  transform-origin: 1px;
  margin-right: 10px;
  background-color: var(--color-white);
  border-radius: 4px;
}

.bar {
  width: 27px;
  height: 0.22rem;
  background-color: #2c2c2c;
  border-radius: 10px;
  transition: all 0.3s linear;
}
