.headerContainer {
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  height: 80px;
  border-bottom: 2px solid var(--color-grey6);
}

.figureContainer {
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.navigationSection {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.auctionNav {
  display: none;
}

.boldButton {
  color: var(--color-grey2);
  background-color: transparent;
  text-align: center;
  font-size: 1rem;
}

.borderButton {
  color: var(--color-grey0);
  font-size: 1rem;
  background-color: transparent;
  border: 2px solid var(--color-grey6);
  border-radius: 4px;
  padding: 10px 20px;
}

.divider {
  display: none;
}

.mobileProfileMenu {
  display: flex;
  align-items: center;
}

.desktopProfileMenu {
  display: none;
}

.dropDownContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 100;
  background-color: var(--color-white);
  -webkit-box-shadow: 0px 7px 13px -6px rgba(0, 0, 0, 0.68);
  -moz-box-shadow: 0px 7px 13px -6px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 7px 13px -6px rgba(0, 0, 0, 0.68);
}

.mobileNav {
  display: flex;
  flex-direction: column;
  gap: 44px;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: var(--color-grey2);
  padding: 32px 16px;
  border-bottom: 2px solid var(--color-grey4);
}

.userDivContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 32px 12px;
  gap: 44px;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: var(--color-grey2);
}

.registerLink {
  font-weight: 600;
  font-size: 16px;
  border: 2px solid var(--color-grey4);
  border-radius: 4px;
  width: 100%;
  text-align: center;
  color: var(--color-grey0);
  padding: 14px 0;
}

.registerLink:visited {
  color: var(--color-grey0);
}

.hidden {
  display: none;
}

@media screen and (min-width: 900px) {
  .auctionNav {
    display: flex;
    gap: 44px;
    align-items: center;
    margin-right: 44px;
  }

  .figureContainer {
    margin-left: 60px;
  }

  .divider {
    display: flex;
    width: 2px;
    height: 100%;
    background-color: var(--color-grey6);
  }

  .mobileProfileMenu {
    display: none;
  }
  .desktopProfileMenu {
    display: flex;
    gap: 44px;
    align-items: center;
    margin: 0 44px 0 44px;
  }

  .dropDownContainer {
    display: none;
  }
}
