.formContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 44px 48px;
}

.sectionsContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.sectionTitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: var(--color-black);
}

.doubleInputDiv {
  display: flex;
  gap: 8px;
}

.doubleInputDiv > .inputDiv {
  max-width: 154px;
}

.inputDiv {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 315px;
}

.inputText {
  background-color: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 0px;
  border: 2px solid var(--color-grey4);
  padding: 12px;
  border-radius: 4px;
}

.inputText:focus-within {
  border: 2px solid var(--color-brand2);
}

.inputArea {
  color: var(--color-grey0);
  background-color: inherit;
  font-weight: 400;
  font-size: 16px;
  height: 88px;
  line-height: 0px;
  border: 2px solid var(--color-grey4);
  padding: 8px 12px 30px 12px;
  border-radius: 4px;
  resize: none;
}

.inputArea::placeholder {
  padding: 10px 0;
}

.radioLabel {
  display: flex;
  color: var(--color-grey0);
  font-weight: 600;
  font-size: 16px;
  line-height: 0px;
  border: 2px solid var(--color-grey4);
  border-radius: 4px;
  padding: 18px 28px;
}

.inputRadio {
  all: unset;
}

.radioLabel:focus-within {
  background-color: var(--color-brand1);
  border: 2px solid var(--color-brand1);
  color: var(--color-white);
}

.submitButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-brand1);
  border-radius: 4px;
  color: var(--color-white);
  font-weight: 600;
  font-size: 16px;
  max-width: 315px;
  padding: 12px 0;
}

.errorFeedback {
  color: var(--color-alert1);
  font-weight: 600;
  font-size: 16px;
}
