<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@500;600&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./globalStyles.css" media="screen">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./auctionList.css">
    <link rel="stylesheet" href="./footer.css">
    <link rel="stylesheet" href="./headerBar.css" media="screen">
    <link rel="stylesheet" href="./introSection.css">
    <link rel="stylesheet" href="./burguerMenu.css">
    <link rel="stylesheet" href="./registerPage.css">
    <title>CAPSTONE M6</title>
</head>
<body>
    <main class="mainContainer">
      @include('partials/headerBar')
      
        @!section('mainLayout')

      @include('partials/footer')
  </main>
</body>
</html>